.menus {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 0;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
}

.menus:hover {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(#e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    -fx-cursor: hand;
}

.menus:selected {
    -fx-text-fill: white;
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#2dabf9 5%, #0688fa 100%);
}

.box {
    -fx-background-color: #dddddd;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.submenu {
    -fx-padding: 3 30 3 30;
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-border-weight: 3px;
    -fx-background-radius: 0;
}

.submenu:hover {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(#e6f3fa 0%, #b6c8d9 100%);
    -fx-cursor: hand;
}

.submenu:selected {
    -fx-padding: 3 30 3 30;
    -fx-background-color:
        linear-gradient(#59c2ff 5%, #3da4ff 100%);
    -fx-text-fill: #f0f0f0;
    -fx-font-weight: bold;
}

.scroll {
    -fx-background-insets: -1px;
    -fx-padding: 0px;
    -fx-border-width: 0px;
}

.scroll > *.viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.box-header {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-border-color: #CBCBCC;
    -fx-border-width: 1 1 1;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.box-footer {
    -fx-border-color: #CBCBCC;
    -fx-border-width: 1 1 1;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-title:hover {
    -fx-text-fill: #747A7E;
    -fx-cursor: hand;
}

.menu-exit {
    -fx-background-color: transparent;
    -fx-text-fill: #747A7E;
    -fx-content-display: right;
    -fx-graphic-text-gap: 10;
    -fx-graphic: url("../icons/exit.png");
}

.menu-exit:hover {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.menu-user {
    -fx-background-color: transparent;
    -fx-text-fill: #747A7E;
}

.menu-user:hover {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.box-content {
    -fx-border-color: #CBCBCC;
    -fx-border-width: 1 1 1;
    -fx-effect: dropshadow(three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.comanda-button {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5px;
}

.comanda-button:pressed {
    -fx-background-color: #dddddd;
    -fx-cursor: hand;
}

.comanda-button:hover {
    -fx-background-color: white;
    -fx-cursor: hand;
}


.cashier-button {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5px;
}

.cashier-button:pressed {
    -fx-background-color: #dddddd;
    -fx-cursor: hand;
}

.cashier-button:hover {
    -fx-background-color:
        linear-gradient(#59c2ff 5%, #3da4ff 100%);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cashier-button:hover *{
   -fx-background-color: transparent;
   -fx-text-fill: white;
   -fx-cursor: hand;
}

.tile-info {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #C8C8C8;
}

.remove-item-button {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5px;
}

.remove-item-button:hover {
    -fx-background-color:
        linear-gradient(rgba(250,89,89,1) 0%, rgba(255,85,85,1) 27%);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.remove-item-button:hover *{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.category-label {
    -fx-background-color: #DDEAF1;
    -fx-border-color: #C3DBE8;
    -fx-border-width: 2;
    -fx-border-radius: 3;
    -fx-background-radius: 5;
}

.category-label: hover {
    -fx-background-color: #C3DBE8;
    -fx-border-color: #7D8C94;
    -fx-cursor: hand;
}

.availability-label-green {
    -fx-background-color: #c9efd7;
    -fx-border-color: #abccb7;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.availability-label-green: hover {
    -fx-background-color: #8bc9a1;
    -fx-border-color: #72a584;
    -fx-cursor: hand;
}

.availability-label-red {
    -fx-background-color: #c2948a;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.comanda-tile {
    -fx-font-weight: bold;
    -fx-font-family: Carlito;
    -fx-font-size: 15px;
    -fx-border-color: #9E9B8F;
    -fx-border-width: 2;
    -fx-spacing: 5;
    -fx-padding: 3;
    -fx-cursor: hand;
    -fx-background-color: #EAE7DE;
    -fx-opacity: 0.8;
}

.comanda-tile: hover {
    -fx-background-color: #9E9B8F;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.label-tile-hover {
    -fx-text-fill: white;
    -fx-font-family: Carlito;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.circle-status {
    -fx-fill: orange;
}

.circle-status: hover {
    -fx-radius: 6
}

.toggle-service: selected {
    -fx-opacity: 1;
}

.view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: gray;
}

.combo-box-view {
    -fx-font-family: Carlito;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}