name: Gerar Instalador Windows

on:
  push:
    branches: [ "feature/my-branch", "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: 1. Baixar o código do projeto
      uses: actions/checkout@v4

    - name: 2. Configurar o Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: 3. Compilar com Maven (Gerar o JAR)
      run: mvn clean install

    - name: 4. Baixar JMODS do JavaFX 17
      # Aqui baixamos e organizamos a pasta para que o jpackage não se perca
      run: |
        Invoke-WebRequest -Uri https://download2.gluonhq.com/openjfx/17.0.10/openjfx-17.0.10_windows-x64_bin-jmods.zip -OutFile javafx-jmods.zip
        Expand-Archive javafx-jmods.zip -DestinationPath .
        # Renomeia a pasta complexa para apenas 'jmods'
        Move-Item -Path "openjfx-17.0.10_windows-x64_bin-jmods/javafx-jmods-17.0.10" -Destination "jmods"

    - name: 5. Criar o Executável (.exe) com jpackage
      run: |
        jpackage --type exe `
          --dest dist/ `
          --name "SysRestaurante" `
          --input target/ `
          --main-jar javafx-maven-setup-1.0-SNAPSHOT-jar-with-dependencies.jar `
          --main-class org.sysRestaurante.gui.MainGUI `
          --module-path jmods `
          --add-modules javafx.controls,javafx.fxml,javafx.graphics,javafx.swing `
          --win-dir-chooser `
          --win-shortcut

    - name: 6. Salvar o instalador como resultado (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: Instalador-Windows-SysRestaurante
        path: dist/*.exe
