name: Gerar Instalador Windows

on:
  push:
    branches: [ "feature/my-branch", "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: 1. Baixar o código do projeto
      uses: actions/checkout@v4

    - name: 2. Configurar o Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: 3. Compilar com Maven (Gerar o JAR)
      run: mvn clean package -DskipTests

    - name: 4. Baixar e Extrair JMODS do JavaFX
      shell: powershell
      run: |
        Invoke-WebRequest -Uri https://download2.gluonhq.com/openjfx/17.0.10/openjfx-17.0.10_windows-x64_bin-jmods.zip -OutFile javafx-jmods.zip
        Expand-Archive javafx-jmods.zip -DestinationPath .
        $fullPath = (Get-ChildItem -Recurse -Directory -Filter "javafx-jmods-17.0.10").FullName
        echo "JMOD_PATH=$fullPath" >> $env:GITHUB_ENV
        echo "Pasta JMOD encontrada em: $fullPath"

    - name: 5. Criar o Executável (.exe) com Runtime Completa
      shell: powershell
      run: |
        jpackage --type exe `
          --dest dist/ `
          --name "SysRestaurante" `
          --app-version "1.0.0" `
          --input target/ `
          --main-jar javafx-maven-setup-1.0-SNAPSHOT-jar-with-dependencies.jar `
          --main-class org.sysRestaurante.gui.MainGUI `
          --module-path "${{ env.JMOD_PATH }}" `
          --add-modules javafx.controls,javafx.fxml,javafx.graphics,javafx.swing,javafx.media,javafx.web `
          --runtime-image "$env:JAVA_HOME" `
          --win-dir-chooser `
          --win-shortcut `
          --verbose

    - name: 6. Salvar o instalador como resultado (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: Instalador-Windows-SysRestaurante
        path: dist/*.exe
